<p>playlist-list works!</p>


<div class="list-group">

  <div class="list-group-item" 
  
    [class.active]="playlist.id == selected?.id"

    (click)="select(playlist)"

    *ngFor="let playlist of playlists; index as i">

    {{i+1}}. {{playlist.name}}
  </div>


</div>

<!-- {{selected && selected.name}} -->
{{selected?.name}}