<form #formRef="ngForm" (ngSubmit)="clickSave(formRef)">

  <pre>{{playlist|json}}</pre>


  <div class="form-group">
    <label>Name:</label>
    <input type="text" class="form-control" [ngModel]="playlist.name" name="name" #nameRef="ngModel"
    required minlength="3">
  
    {{ 170 - nameRef.value?.length }} / 170

    <div *ngIf="nameRef.hasError('required')" class="error">Name is required</div>

    <div *ngIf="nameRef.getError('minlength') as error " class="error">
      Minimum length is {{error.requiredLength}}
    </div>


    <!-- <div *ngIf="getExpensiveObject()  let result = $implicit">
      {{result.name}}
    </div> -->
  </div>
  
  
  <div class="form-group">
    <input type="checkbox" [ngModel]="playlist.public" name="public">
    <label> Public</label>
  </div>
  
  <div class="form-group">
    <label>Description:</label>
    <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
  </div>
  
  
  <button class="btn btn-danger" (click)="clickCancel()">Cancel</button>
  <button class="btn btn-success" type="submit">Save</button>

</form>