<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-form [query]="query | async" (search)="search($event)"></app-search-form>
  </div>
</div>

<div class="row">
  <div class="col">
    <p class="alert alert-danger" *ngIf="message">{{message}}</p>


    <!-- <button (click)="hide = !hide">Toogle</button> -->
    <!-- *ngIf="hide" -->

    <ng-container *ngIf="results | async as albums">

      <p>Found {{(albums )?.length}} results</p>
      
      <app-search-results  [results]="albums "></app-search-results>
      
    </ng-container>
    
  </div>
</div>