<div class="card-group">

  <app-album-card class="card" 
  [album]="result"
  *ngFor="let result of results">

  </app-album-card>

</div>

<style>
  .card{
    min-width: 25%;
    max-width: 25%;
  }
</style>