<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">
    <a class="navbar-brand" routerLinkActive="active placki" [routerLinkActiveOptions]="{exact:true}"
      routerLink="/">Music App</a>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item" routerLinkActive="active placki">
          <a class="nav-link" routerLink="/music">Search Albums</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active placki" #rla="routerLinkActive"
            routerLink="/playlists">Playlists
            <span class="badge badge-pill badge-danger" *ngIf="!rla.isActive">1</span>
          </a>
        </li>
      </ul>
      <span class="navbar-text" *ngIf="profile">{{profile.display_name}}</span>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col">
      <router-outlet></router-outlet>

    </div>
  </div>
</div>