<!-- dl>(dt+dd)*3 -->
<!-- [attr.data-test]="" $0.setAttribute('data-test',123 -->

<pre>{{ playlist | json }}</pre>


<dl [title]="playlist.name" [attr.data-id]="playlist.id">

  <dt>Name:</dt>
  <dd>{{ playlist.name | titlecase   }}</dd>

  <dt>Public:</dt>

  <dd class="awesome" [class]="{
    public: playlist.public,
    private: !playlist.public
  }">
    <!-- {{ playlist.public? 'Yes': 'No' }} -->
    <!-- {{ playlist.public |yesno:'Hell yeah!':'Nope..' }} -->
    {{ playlist.public | yesno }}
  </dd>

  <dt>Description</dt>
  <dd>{{ playlist.description }}</dd>
</dl>


<button class="btn btn-info" (click)="clickEdit()">Edit</button>