<div class="row">

  <div class="col">
<!-- 
    <app-playlist-list [items]="playlists" 
    [(selected)]="selected"></app-playlist-list> -->

    <app-playlist-list [items]="playlists" 
    [selected]="selected" (selectedChange)="selected  = $event"></app-playlist-list>

    <!-- <input type="text" [value]="selected.name" (input)="selected.name = $event.target.value"> -->
  </div>

  <div class="col">

    <!-- <country-selector [countries]="countries" (change)="setCountry($event)"></country-selector>
    <city-selector [cities]="cities"></city-selector> -->

    <ng-container [ngSwitch]="mode" *ngIf="selected">

      <div *ngSwitchDefault>
        <app-playlist-details [playlist]="selected" (edit)="edit()"></app-playlist-details>
      </div>


      <div *ngSwitchCase="'edit'">
        <app-playlist-form [playlist]="selected" (cancel)="cancel()" (save)="save($event)">

        </app-playlist-form>
      </div>

    </ng-container>


  </div>
</div>
<!-- 

<ul>
  <li></li>
  <ng-container *ngIf>
    <li></li>
    <li></li>
  </ng-container>
</ul> -->

<!-- 
  {{}}
  [] 
  () 
  *
  # 
-->