<form [formGroup]="searchForm">


  <div class="input-group mb-3">

    <!-- <input type="text" class="form-control" [formControl]="searchForm.get('query')"> -->
    <input type="text" class="form-control" formControlName="query">

    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="emitSearch()">Search</button>
    </div>

  </div>



</form>